@import "./variables";
@import "./mixins";

* {
	font-family: "Segoe UI", sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* width */
// *::-webkit-scrollbar {
//   width: 16px;
//   background: $scrollBarBackground;

//   &-thumb {
//     background: $scrollBarThumb;
//     border-radius: 10px;
//     border: 3px solid $scrollBarBackground;

//     &:hover {
//       background: $scrollBarThumbHover;
//     }
//   }
// }

@keyframes loader {
	100% {
		opacity: 0;
		z-index: -10;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

.background {
	position: relative;
	width: 100%;
	min-height: 100vh;
	// background-image: $backgroundRoot;
	// background-attachment: fixed;
	background-color: #212121;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 2em;
	padding: 2em 0;
	color: #fff;
	text-align: center;
	
	section:not(.mainBio) {
		min-height: 100vh;
		&.projects {
			min-height: 107vh;
		}
	}

	&SocialLinks a {
		margin-right: 1em;

		svg {
			font-size: 1.5rem;
		}
	}
}

.mainBio {
	// margin-top: 12rem;
	display: flex;
	align-items: center;
	min-height: 89vh;
}

.mainBioContent {
	display: flex;
	text-align: left;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.274);
	margin: 0 8em;
	padding: 2em;
	border: $borderLayout;
	border-radius: 10px;
	
	&_left {
		margin-right: 2em;
		&_Photo {
			border-radius: 100%;
		}
	}
	h1::first-letter {
		border-bottom: $borderLayout;
		transition: 2s all border-bottom;
	}

	h2 {
		font-size: 16px;
		margin-top: -1em;
		font-weight: 400;
	}

	a {
		color: #fff;
	}
}

.projectsList {
	@include d-flex;
	color: #fff;
}

@media screen and (min-width: 551px) {
	.mainBioContent_left {
		margin-right: 2em;
	}
}

@media screen and (max-width: 551px) {
	.mainBioContent {
		flex-direction: column;
		margin: 1em 8em;
	}
}
