@import "../sass/variables";
@import "../sass/mixins";

footer {
    @include d-flex;
    // position: absolute;
    bottom: 0;
    width: 99vw;
    margin-top: auto;
    background-color: $background;
    color: #fff;
    border-top: $borderLayout;
}