@import "./variables";
@import "./mixins";

.form-add-project {
    @include d-flex;
    flex-direction: column;
    width: fit-content;
    color: #fff;

    fieldset {
        padding: 1rem 2rem;
        border: 1px solid $colorPrincipaly;
    }

    fieldset, .form-group {
        @include d-flex;
        flex-direction: column;
    }
    
    label, .form-group {
        margin-bottom: 1rem;
    }

    input {
        padding: 0.5em 1em;
        border: 1px solid $colorPrincipaly;
    }

    button[type="submit"] {
        background-color: $background;
        border: 2px solid $colorPrincipaly;
        border-radius: 10px;
        color: #fff;
        padding: 0.5em;
    }
}