@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	border-bottom: $borderLayout;
	width: 100%;

	ul {
		display: flex;
		align-items: center;
		margin: 2rem 2rem;

		.headerLogo {
			font-size: 1.8em;
			font-weight: bold;
		}

		li {
			font-weight: bold;
			list-style: none;

			&:first-child::first-letter {
				border-bottom: 2px solid $colorPrincipaly;
				transition: 0.2s all ease-in-out;
			}
		}

		a {
			margin-right: 1em;
			transition: 0.35s all ease-in-out;
			position: relative;
			text-decoration: none;

			&:hover:before {
				content: "";
				position: absolute;
				left: 0;
				bottom: -5%;
				width: 0;
				border-bottom: 2px solid $colorPrincipaly;
				animation: border_anim 0.3s linear forwards;
			}
		}

		@media screen and (max-width: 551px) {
			padding: 0;
		}
	}

	@keyframes border_anim {
		0% {
			width: 0%;
		}
		100% {
			width: 100%;
		}
	}

	// &DarkModeBtn {
	//   cursor: pointer;
	//   border: none;
	//   background: none;
	//   color: #fff;
	//   font-size: 1.8rem;
	//   border: 1px solid $colorPrincipaly;
	//   border-radius: 10px;
	//   transition: color 0.25s;
	//   margin: 0 2rem;

	//   :hover {
	//     color: $colorPrincipaly;
	//   }
	// }
}

footer {
	@include d-flex;
	// position: absolute;
	// bottom: 0;
	width: 100%;
	margin-top: auto;
	background-color: $background;
	color: #fff;
	border-top: $borderLayout;
}
