@import "../sass/variables";

.projects_popinDetail {
    display: flex;
    // background-color: #084e67c9;
    background-image: $backgroundRoot;
    position: fixed;
    top: 14%;
    left: 16%;
    width: 66vw;
    height: 65vh;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: 7px 8px 8px #0000009c;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s linear;

    &[data-openPopin="true"] {
        opacity: 1;
        visibility: visible;
    }

    &_close {
        position: relative;
        left: 97.5%;
        height: 2em;
        cursor: pointer;
    }

    &_left {
        &--thumbnail {
            width: 90%;
            object-fit: contain;
        }
        .logoStackImg {
            margin-top: 1em;
        }
    }

    @media screen and (min-width: 551px) {
        justify-content: space-between;
        &_left, aside {
            width: 50%;
        }
        &_left--thumbnail {
            margin-top: 3em;
        }
    }

    @media screen and (max-width: 551px) {
        flex-direction: column;
        padding: 0;
        left: 0;
        width: 100vw;
        &_close {
            left: 92%;
            top: 1%;
        }
    }
}

