$background: #0b0b0b;
// $backgroundRoot: linear-gradient(to top, #30cfd0 0%, #330867 100%);
$backgroundRoot: linear-gradient(to top, #d0c030 0%, #330867 100%);
// $colorPrincipaly: #30d0d0;
$colorPrincipaly: #d0c030;
$colorSecondary: #330867;
$scrollBarBackground: $background;
$scrollBarThumb: $colorPrincipaly;
$scrollBarThumbHover: darken($colorPrincipaly, 10%);

$borderLayout: $colorPrincipaly solid 2px;
