$colorPrincipaly: #30d0d0;
$colorSecondary: #330867;
$scrollBarBackground: $colorSecondary;
$scrollBarThumb: $colorPrincipaly;
$scrollBarThumbHover: #229191;
$backgroundRoot: linear-gradient(to top, #30cfd0 0%, #330867 100%);
